.expandedContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
  margin: 0px;
}
.faviconContainer {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: relative;
}
.faviconContainer:hover {
  opacity: 0.6;
}

.iconContainer {
  height: 40px;
  cursor: pointer;
}
.iconContainer:hover {
  opacity: 0.8;
  height: 45px;
  width: 45px;
  transition: 0.3s ease;
}
